:root {
    --cor01: #FCF0E1;
    --gray: #8A8A8A;
    --marron-claro: #857366;
    --marron-medio: #6E5442;
    --marron-escuro: #332217;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    margin: 0%;
}

/*header*/
.item_1 {
    text-decoration: underline;

}

select
 {
    border:solid 1px rgb(218, 216, 216);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--cor01);
    text-decoration: none;
    font-size: 1.2rem;
}

body {
    margin: 0;
    width: 100%;
    padding: 0;



}

header {
    width: 100%;
    height: 5.5rem;
    display: flex;
    background-image:linear-gradient(#FCF0E1  , #D7C4AD);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



h3 {
    padding: 1rem;
}


header img {
    padding: 1rem;
    
}

.cont a {
    margin-left: 18px;
    padding: 0.4rem;
    color: #332217;
}

.cont {
    
    flex-grow: 2;
    width: 12rem;
    height: 80px;
    display: flex;
    font-size: 1rem;
    align-items: center;

}

.item1 {
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    height: 100px;
}

.telefone {
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-right: 2%;
}

body {
    background-color: var(--cor01);
}



/*------------------------------------------------------------*/

.busc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.venda {
    width: 15rem;
    height: 30px;
    border-radius: 5px;
}

.busca-imovel {
    width: 30rem;
    height: 30px;
    border: 0;

}
.lupa{
    width: 30px;
    height: 25px;
    float:left;
    color:var(--marron-medio);
    margin:3px 0px 0px -25px;
    cursor:pointer;
    padding-right: 5px;
}

/*-----------------------------------------*/
.avan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    justify-content: center;
}
.avan button{
    margin-left: 10px;
}

.avancados {
    width: 15rem;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
}

#tipo-imovel{
    width:170px;
}
.opcoes{
    width: 120px;
    align-items: center;   
}

#quartos{
    width: 120px;
    align-items: center;   
}

button {
    background-color: var(--marron-medio);
    border: 0;
    color: var(--cor01);
    width:160px;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button:hover{
    background-color: var(--marron-escuro)
    
}

.maisfiltros p{
    color: var(--marron-medio);
    margin: 0;
    padding: 5px;
    text-decoration: underline;
    font-weight: bold;
    margin-right:30%;
}

.maisfiltros {
    
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    
    

}

.resdabusc {
    margin-left: 30px;
}

.resdabusc h5 {
    font-size: 16px;
}

/*------------CARD-----------------------------------------------------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;

}


.card {

    background: white;
    height: 400px;
    color: var(--marron-medio);
    border-radius: 5px 5px 5px 5px;
    margin: 2%;
    width: 300px;
    padding-bottom: 1.5rem;
    

} 

.card:hover{
    box-shadow: 20px 20px 18px rgb(182, 182, 182)
    
}

.media {

    width: 100%;
    height: 175px;
    border-radius: 5px 5px 0 0;


}

.media img {

    height: 175px;
    width: 300px;
    border-radius: 5px 5px 0 0;
    transition: width 2s transform 2s;
}

img:hover{
    transform: translateY(-30);
    
}

.meio {
    background-color:white;
    width: 300px;
    height: 175px;

}
.desc-imovel{
    font-weight: 700;
}


.meio p {
    margin: 5px 0 0PX 5px;
    padding-bottom: 5px;

}

.icones {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content:left;
    width:250px;
}

.icones i {
    margin-left: 8px;
    padding-left: 15px;
    size: 3ex;
}
.icones p{
    padding-left: 10px;
}

.baixo {
    background-color:white;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 0px 0px 5px 5px;
    
}



.detalhes {
    margin-right: 10px;
    width: 160px;
    height: 30px;

}



footer {
    width: 100vw;
    height: 20px;
    background-color: var(--marron-claro);
    margin: 0;
    padding: 10px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content:center;

}
footer p {
   color: white;
    padding:0;
    margin: 0;
    padding-right: 2%;
    font-size: 14PX;
   
}

/*-------------------------------RESPONSIVIDADE---------------------------------*/



@media(max-width:600px) {
    .cont a {
        padding: 5px;
    }

    .cont {
        cursor: pointer;
        display: flex;
        font-size: 0.8rem;
        padding: 2px;
        margin: 0;
        width: 5rem;
        height: 25px;
        align-items: center;
        justify-content: space-evenly;

    }
    .avan{
        height: 10rem;
        flex-wrap: wrap;
    }
    .avancados{
        margin: 0%;

    }
    .maisfiltros{
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .maisfiltros p{
        margin: 0%;
    }

    .telefone {
        padding-bottom: 1rem;
    }

    header img {
        width: 120px;
        padding: 0rem;
        margin-left: 0rem;
    }

    header {
        display: flex;
        width: 100%;
        height: 12rem;
        align-items: center;
        flex-direction: column;
    }
    .cont{
        width: 60%;
    }
    .card{
        padding-bottom: 1.5rem;
    }
}