:root {
    --cor01: #FCF0E1;
    --gray: #8A8A8A;
    --marron-claro: #857366;
    --marron-medio: #6E5442;
    --marron-escuro: #332217;
}
*{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: var(--cor01);
    text-decoration: none;
    font-size: 1.2rem;
}

body {
    margin: 0;
    width: 100%;
    padding: 0;

}

/*------header-----------*/

header {
    width: 100%;
    height: 5.5rem;
    display: flex;
    background-image: linear-gradient(#FCF0E1  , #D7C4AD);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.containerh {
    
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cont{
    flex-grow: 2;
    width: 12rem;
    height: 80px;
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.item_1 {
    text-decoration: underline;

}

.cont a {
    padding: 0.4rem;
    color: #332217;
}

h3 {
    padding: 1rem;
}


header img {
    padding: 1rem;
    margin-left: 2rem;
}

.item0 {
    flex-grow: 2;
    width: 350px;
    display: flex;
    font-size: 1rem;
    align-items: center;


}

.item1 {
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    height: 100px;
}

.telefone {
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}


body {
    background-image: url("../img/imovel.jpg");
}

/*card---------------------------------------------------------------------------------*/
.container {
    display: flex;
    flex-direction:row-reverse;
    align-items: flex-end;
    justify-content:space-between;
    width: 100%;
    height: 600px;
    
    padding: 1rem;
}



.container h2 {
    font-size: 2rem;
}

.card {
    
    padding: 10px;
    margin-right: 5%;
    margin: 2px solid #000;
    background-color: var(--cor01);
    width: 500px;
    height: 450px;

}
.card h2{
    display: flex;
    justify-content:center;
}

.lupa{
    width: 30px;
    height: 25px;
    float:left;
    margin:3px 0px 0px -25px;
    cursor:pointer;
    padding-right: 5px;
}
.seta{
    width: 30px;
    height: 25px;
    float:left;
    margin:3px 0px 0px -150px;
    cursor:pointer;
    padding-right: 5px;
}



.busc {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*filtros avançados --------------------------------------------------------------------*/
.h4 {
    display: flex;
    font-size: 18px;
}

.tipo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: space-between;
    align-items: center;

}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 13em;
    height: 0.5em;

    left: 4em;
    border-radius: 5px;
    background-color:var(--marron-escuro);
    outline: none;
}

input[type=range]::-webkit-slider-thumb{
    border-radius: 50%;
}
i{
    color:var(--marron-medio);
}



.avancados {
    text-align: center;
    padding: 0.2;
    font-size: 16px;
    height: 35px;
}

.busca-imovel {
    border-radius: 3px;
    height: 40px;
    width: 100%;
    text-align: center;
}

.botao-class {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 150px;
    align-items: center;
    

}

#botao {
    background-color: var(--marron-medio);
    color: var(--cor01);
    height:40px;
    width: 250px;
    
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}

@media (max-width: 1350px) {
    .container {
        text-align: center;
        display: flex;
        flex-direction:row-reverse;
        align-items: flex-end;
        justify-content:space-around;
        width: 100%;
        height: 600px;
        padding: 1rem;
    }
   
}

@media (max-width: 1000px) {
    .container {
        text-align: center;
        display: flex;
        flex-direction:row-reverse;
        align-items: flex-end;
        justify-content:space-around;
        width: 100%;
        height: 600px;
        
        padding: 1rem;
    }
}

@media (max-width: 700px) {
   

    .containerh {
        width: 658px;
        height: 180px;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .item0 {
        flex-grow: 2;
        width: 1px;
        display: flex;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }

    .item1 {
        margin: 5px;
        height: 30px;
    }

    header {
        height: 180px;
    }
    .botao a{
        text-decoration: none;
    }

}

